.required:after {
    content: ' *';
    color: red;
}

.fit {
    width: 1%;
    white-space: nowrap;
}

.img-thumb {
    width: 100%;
    height: 215px !important;
    object-fit: cover;
}

.content-blog img {
    width: 100%;
    height: auto;
}

.text-author {
    margin-right: 20px;
    text-align: end;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 10px !important;
}

.btn-left {
    margin-left: 20px;
    text-align: end;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 10px !important;
}
